<fieldset>
	<legend>Buscar preguntas:</legend>
	<form action="/quizes" method="get">
		<input type="text" name="search" id="search" placeholder="Buscar pregunta"/>
		<input type="submit" value="buscar" />
	</form>
</fieldset>
<table>

<% var i; for(i=0; i < quizes.length; i++) { %>
<tr><td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td></tr>
<% } %>
</table>

  
